@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* default-css-start */
* {
    margin: 0;
    padding: 0;
}

body h1,
h2 {
    font-family: Merriweather;
}

body p,
h3,
h4,
h5,
a,
span {
    font-family: 'Inter', sans-serif;
}


.container {
    max-width: 1320px;
    margin: auto;
}



.btn-primary {
    color: white;
    background: red;
    padding: 15px 47px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.btn-primary:hover {
    color: red;
    background-color: white;
}

/* -------------- */

/* main-css-start */

/* -------------- */



/* --------------- */

/* -- banner-section  */

/* --------------- */



.banner {
    padding: 60px 0;
}

.banner-inner {
    background-image: url('./images/banner.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 175px 0;
    border-radius: 16px !important;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.banner-inner::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.banner-inner h2 {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
    margin-bottom: 20px;
}

.banner-inner h1 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}


/* --------------- */

/* <!-- deal-section --> */

/* --------------- */

.deal {
    text-align: center;
    padding: 50px 0;
}

.deal h1 {
    font-size: 76px;
    color: red;
    font-family: 'Inter', sans-serif;
}

.deal p {
    color: red;
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0;
}

.deal h2 {
    color: black;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 50px;
}



/* --------------- */

/* <!-- hero-section --> */

/* --------------- */


.hero-section {
    padding: 40px 0;
}

.hero-inner-content {
    background-image: url('./images/hero.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
    border-radius: 16px !important;
    overflow: hidden;
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

}

.hero-inner-content::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-text-content {
    margin-left: 120px;
}

.hero-text-content h1 {
    color: #FFF;
    text-align: left;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 7px;
}

.hero-text-content p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0;
}


.hero-img {
    margin-right: 120px;
}


/* --------------- */

/* <!-- announce-section --> */

/* --------------- */


.announce-section {
    padding: 100px 0;
}

.announce-text {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 130px 0;
    border-radius: 16px;
}

.announce-text p {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.announce-text span {
    color: red;
}

.announce-text button {
    margin-top: 40px;
}



/* --------------- */

/* <!-- offer-section --> */

/* --------------- */


.offer-section {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 6rem;
}


.offer-left span {
    color: #F00;
    font-size: 24px;
    font-weight: 600;
}

.offer-left h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin: 25px 0;
}

.offer-left p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.offer-mid {
    border: 10px solid rgb(255, 4, 4);
    padding: 40px;
    border-radius: 100%;
}


.offer-right span {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer-right p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 25px 0;
}


/* --------------- */

/* <!-- discount-section --> */

/* --------------- */


.discount {
    padding: 120px 0;
}

.discount-title {
    text-align: center;
}

.discount-title h4 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.discount-title h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 30px 0;
}

.discount-title h1 span {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.discount-title p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 1068px;
    margin: auto;
}


.discount-inner {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.discount-content {
    position: relative;
}

.discount-content img {
    max-width: 100%;
}

.discount-bg {
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    z-index: -1;
}



.d-img-right {
    position: relative;
}


.d-img-center {
    position: absolute;
    top: 79px;
    left: -37%;
}



/* --------------- */

/* <!-- product-section --> */

/* --------------- */


.product-section {
    padding: 100px 0;
}





.product-title span {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.product-title h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin: 30px 0;
}

.product-title p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    line-height: 32px;
    width: 896px;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 0;
}




.product-img {
    position: relative;
}

.product-h-content {
    position: absolute;
    bottom: 85px;
    left: 30%;
    margin: auto;
    visibility: hidden;
    transition: .2s ease-in-out;
    text-align: center;
    transform: translateY(80px);
}


.product-inner:hover .product-h-content {
    visibility: visible;
    transform: translateX(0);
}


.product-h-content span {
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}


.product-h-content button {
    color: white;
    padding: 10px 20px;
    background: rgb(246, 4, 4);
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    outline: none;
    border: none;
}


.product-img::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(20, 30, 50, .5);
    border-radius: 16px;
    overflow: hidden;
    visibility: hidden;
    transition: .2s ease-in-out;
    transform: translateX(-20px);
    overflow: hidden;
}

.product-inner:hover .product-img::before {
    visibility: visible;
    transform: translateY(0);
    cursor: pointer;
}





/* --------------- */

/* <!-- newsletter-section --> */

/* --------------- */



.newsletter-section {
    padding: 50px 0;
}

.newsletter-content {
    background: rgba(255, 0, 0, 0.05);
    padding: 50px;
    text-align: center;
    border-radius: 16px;
}



.newsletter-content h1 {
    margin: 30px 0;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.newsletter-content p {
    color: rgba(4, 0, 11, 0.493);
    font-size: 20px;
    line-height: 32px;
    width: 896px;
    margin: 30px auto 85px auto;
}

.newsletter-box {
    display: inline-flex;
}

.newsletter-box input {
    width: 400px;
    height: 60px;
    padding: 0 30px;
    border: none;
    outline: none;
    border-radius: 300px 0 0 300px;
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
    font-weight: 400;
}


.newsletter-box button {
    background: red;
    color: white;
    height: 60px;
    width: 200px;
    padding: 20px 30px;
    display: inline-block;
    font-size: 16px;
    border-radius: 0 300px 300px 0;
    font-weight: bold;
    border: none;
    cursor: pointer;
}



/* --------------- */

/* <!-- footer-section --> */

/* --------------- */




.footer-section {
    padding: 100px 0;
    background: #070211;
}

.footer-inner-content {
    color: white;
}

.footer-inner-content hr {
    color: rgba(255, 255, 255, 0.15);
    margin: 50px 0;
}

.footer-info {
    display: flex;
    justify-content: space-between;

}

.footer-address p {
    margin-bottom: 15px;
}

.footer-detail-address {
    display: inline-flex;
    margin-bottom: 10px;
}

.footer-detail-address img {
    margin-right: 10px;
}

.footer-call {
    display: flex;
}

.footer-call img {
    margin-right: 10px;
}

.social-menu {
    display: flex;
    margin: auto;
    width: 85px;
    padding: 50px;
    gap: 25px;
    justify-content: space-evenly;

}

.social-menu li {
    list-style: none;
}









@media screen and (max-width:576px) {

    .container{
        max-width: 100%;
        margin: auto;
    }

    .banner {
        padding: 10px;

    }

    .banner-inner {
        padding: 30px;
    }

    .banner-inner h2 {
        font-size: 2em;
    }

    .banner-inner h1 {
        font-size: 3em;
    }

    .deal img {
        max-width: 100%;
    }

    .hero-inner-content {
        flex-direction: column-reverse;
        background-size: contain;
        text-align: center;
    }

    .hero-text-content {
        width: 50%;
        margin-left: 20px;
    }

    .hero-img {
        width: 50%;
        margin-right: 0;
    }

    .hero-img img {
        max-width: 80%;
        margin-bottom: 19em;

    }

    .hero-text-content h1 {
        margin-top: 2em;
        font-size: 2em;
        line-height: normal;
        color: black;
    }

    .hero-text-content p {
        color: black;
        text-align: center;
    }

    .announce-section {
        padding: 10px;
    }

    .announce-text p {
        font-size: 1.5em;
    }

    .offer-section {
        flex-direction: column;
    }

    .offer-left {
        text-align: center;
    }
    .offer-left p{
        max-width: 70%;
        margin: auto;
    }
    .offer-mid {
        border: 10px solid rgb(255, 4, 4);
        padding: 20px;
        border-radius: 100%;
        text-align: center;
    }

    .offer-mid img {
        max-width: 95%;
    }

    .offer-right {
        text-align: center;
    }

    .offer-right p{
        width: 70%;
        margin: auto;
    }

    .discount-content{
        max-width: 100%;
    }
     .discount-title p {
        max-width: 80%;
        margin: auto;
    }
    .d-img-center img{
        max-width: 50%;
    }

    .discount-bg{
        bottom: 8px;
    }

  


    .product-title{
        text-align: center;
    }
    .product-title h1{
        max-width: 60%;
        margin: auto;
        margin-bottom: 30px;
        color: black;
    }
    .product-title p{
        max-width: 60%;
        margin: auto;
    }


    .product-h-content{
        visibility: visible;
        transform: translateY(25px);
    }
    .product-h-content span{
        color: white;
    }
    .product-img{
        text-align: center;
    }
    .product-img img{
        max-width: 70%;
        margin: auto;
    }
    .product-img::before {
        width: 70%;
        height: 99%;
        transform: translateX(22%);
        background: rgba(20, 30, 50, .5);
        border-radius: 16px;
        overflow: hidden;
        visibility: visible;

    }

    .newsletter-content p{
        max-width: 90%;
        margin: auto;
        margin-bottom: 3em;
    }
    .newsletter-box input{
        width: 50%;
    }
    .newsletter-box button{
        width: 50%;
        padding: 10px;
    }
    .footer-info{
        flex-direction: column;
        text-align: center;
    }
    .footer-call{

        align-items: center;
        justify-content: center;
    }
    .footer-btn{
        margin-top: 3em;
    }


}